 body {
            background-color: #e0e6ed; /* Фон */
            font-family: 'Segoe UI' , Tahoma, Geneva, Verdana, sans-serif;
            display: flex;
            flex-direction: column;
            align-items: center;  /* Центрация */
            padding-top: 50px;
        }
        h1 {
            color: #2c3e50;
            border-bottom: 2px solid #3498db;
        }
        button {
            background-color: #3498db;
            color: white;
            border: none;
            padding: 10px 20px;
            border-radius: 5px;
            cursor: pointer;
            font-size: 16px;
        }
        button:hover {
            background-color: #2980b9; /* Цвет при наведении */
        }
        a {
            display: inline-block; /* Говорим бпаузеру, что ссылка ведет себя как полноценная коробка */
            background-color: #2ecc71; /* Цвет фона */
            color: rgb(255, 255, 255); /* Цвет текста */
            text-decoration: none; /* Убираем подчеркивание */

            /* Магия отступов */
            padding: 12px 24px; /* Внутренний отступ */
            margin-top: 20px; /* Отступ сверху */
            
            border-radius: 5px; /* Скругление углов */
            font-weight: bold; /* Жирный текст */

        }

        /* Эффект при наведении */
        a:hover {
            background-color: #27ae60; /* Темнее при наведении */
        }